h1 {
    font-size: 30px;
    top: -39%;
    position:relative;
    text-align: center;}
body {
    background-color: #008ffc;}
.banner {
    padding: 1%;
    background-color: orchid;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 85%;}
.bt {
    bottom: 0%;
    position: absolute;
    left: 4.5%;
    padding: 1%;
    margin-right: 1%;
    background-color: orange;
    font-weight: bold;
    color: orchid;
    font-size: medium;
    cursor: pointer;}
.sidel {
    position: absolute;
    background-color: grey;
    min-height:180%;
    width: 4.5%;
    left: 0%;
    bottom: 0%;
    top: 15%;
}
.sider {
    position: absolute;
    background-color: grey;
    min-height: 180%;
    width: 4.5%;
    right: 0%;
    bottom: 0%;
    top: 15%;
}
.content {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 8%;
    margin-bottom: 8%;
}
h2 {
    text-align: center;
    color: yellow;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img {
    height: 200px;
    display: block;
    margin-left: 30%;
}
